<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />
	{{ site.locales[site.default_locale].Counter }}
	<span data-hk-page="current"> - </span> times.<br />

  {% if site.ShowContactInfo == "True" %}

  You can reach me via: <br />
	<link rel="stylesheet" href="{{site.baseurl}}/css/academicons-1.7.0/css/academicons.min.css"/>

  {% if site.email != empty %}
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}"><i class="fa fa-envelope-square fa-3x"></i></a>&nbsp;
  {% endif %}
	{% if site.facebook_username != empty %}
  <a href="https://www.facebook.com/{{site.facebook_username}}" title="FacebookID: {{site.facebook_username}}"><i class="fa fa-facebook-square fa-3x"></i></a>&nbsp;
  {% endif %}
<!--
  {% if site.github_username != empty %}
  <a href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}"><i class="fa fa-github-square fa-3x"></i></a>&nbsp;
  {% endif %}
  {% if site.twitter_username != empty %}
  <a href="https://twitter.com/{{site.twitter_username}}" title="TwitterID: {{site.twitter_username}}"><i class="fa fa-twitter-square fa-3x"></i></a>&nbsp;
  {% endif %}
-->
  {% if site.researchgate_username != empty %}
  <a href="https://www.researchgate.net/profile/Hong_Zhang67" title="ResearchgateID: {{site.researchgate_username}}"><i class="ai ai-researchgate-square ai-3x"></i></a>&nbsp;
  {% endif %}
	{% if site.googlescholar_username != empty %}
	<a href="https://scholar.google.com/citations?user={{site.googlescholar_username}}" title="GoogleScholarID: {{site.googlescholar_username}}"><i class="ai ai-google-scholar-square ai-3x"></i></a>
	{% endif %}
  {% endif %}
	<script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=53oaga4iir2&amp;m=7&amp;s=320&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
	<!--
	<iframe src="/pdf/mou.pdf" style="width:300px; height:100px;" frameborder="0"></iframe>
	-->

</div>
